<h1 class="maintitle">{{title}}</h1>
<nav class="navigationBar">
  <a class="navigationBarItem" routerLink="/dashboard">Dashboard</a>
  <a class="navigationBarItem" routerLink="/weekly">Weekly Weather</a>
</nav>
<router-outlet></router-outlet>