<div class="mainContainer">
  <h2>Weekly Weather</h2>
  <div class="row">
    <div class="col-sm-6">
      <ul class="days">
        <li class="weekDaysList" *ngFor="let WeaklyWeather of WeaklyWeathers"
          [class.selected]="WeaklyWeather === selectedDay"
          (click)="onSelect(WeaklyWeather)">
          <span class="badge">{{WeaklyWeather.id}}</span> {{WeaklyWeather.day}}
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <app-comp-todaysweather [weathermodel]="selectedDay"></app-comp-todaysweather>
    </div>
  </div>
</div>