<div *ngIf="weathermodel">

  <h2>{{weathermodel.name | uppercase}} Details</h2><br>
  <div>
    <label>Day:
      <input [(ngModel)]="weathermodel.day" placeholder="day"/>
    </label><br><br>
    <label>Category:
      <input [(ngModel)]="weathermodel.WeatherCategory" placeholder="WeatherCategory"/>
    </label><br><br>
    <label>Temperature:
      <input [(ngModel)]="weathermodel.Temperature" placeholder="Temperature"/>
    </label>
  </div>
</div>