<h3 class="mainTitle">Todays Weather</h3>
<div class="container-fluid bg-1 text-center">
  <a *ngFor="let day of days" routerLink="/dashboard/{{day.id}}">
    <div class="bluecon">
      <div class="row">
        <h4 class="col-sm-4">Day</h4>
        <h4 class="col-sm-4">{{day.day}}</h4>
      </div>
      <div class="row">
        <h4 class="col-sm-4">Category</h4>
        <h4 class="col-sm-4">{{day.WeatherCategory}}</h4>
      </div>
      <div class="row">
        <h4 class="col-sm-4">Temperature</h4>
        <h4 class="col-sm-4">{{day.Temperature}}</h4>
      </div>
    </div>
  </a> 
</div>